body {
    background-color: #555555;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

header {
    display: grid;
    grid-area: header;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    justify-items: center;
    background-color: #FFFFFF;
}
header h1 {
    font-size: 3em;
    margin-bottom: 5px;
}
header h2 {
    font-size: 1em;
    margin-top: 5px;
}

nav {    
    background-color: #a553ba;
    grid-area: nav;
    display:grid;
    justify-items: center;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display:flex;
}
nav ul li {
    display: inline;
    margin: 0px 5px;
}

footer {
    grid-area: footer;
    background-color: #CCCCCC;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
footer ul li {
    display: inline;
    margin: 0px 5px;    
}

.default-wrapper {
    margin: 0px auto;
    width: 70%;
    display: grid;
    justify-items: stretch;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
}
.default-container {
    grid-area: content;
    display:grid;
    justify-items: center;
    background-color: #FFFFFF;
}