---
---
@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Lato);
$purple: #a553ba;
$gray: #999;
$light-gray: #DDD;
$text-black: #333;
$menu-hover: #000;
$media-query-min-width: 40em;

body {
    background-color: #555555;
    font-family: "Lato";
    margin: 0;
}
ul, ol, li, p, h1, h2, h3 {
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: $gray;
}
a:hover {
    color: $purple
}
p, li, h3 {
    font-size: 1.25rem;
    line-height: 1.4em;
    color: $text-black;
    padding-top: 1rem;
}
input, label {
    display: block;
}

header {
    text-align: center;
    padding: 1em 2em;
}
header h1 {
    font-size: 3em;
    padding-bottom: 0;
    font-family: "Oswald";
}
header h2 {
    font-size: 1em;
    padding-bottom: .5em;
    font-family: "Open Sans";
}

nav {    
    background-color: $purple;
    text-align: center;
    padding: 1em;
    font-family: "Open Sans";
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 0 0.7em;
    position: relative;
    white-space: nowrap;
}
nav a {
    color: $light-gray;
}
nav li:hover a {
    color: $menu-hover;
}
nav li ul {    
    display: none;
    text-align: left;
    overflow: visible;
    width: auto;
}
nav li:hover ul {
    display: block;
    background-color: $purple;
    position: absolute;
    padding-top: 1em;
    padding-bottom: .7em;
    left: 0;
}
nav li:hover li {
    display: block;
    padding-top: 0.5rem;
}
nav li:hover li a {
    color: $light-gray;
}
nav li:hover a:hover {
    color: $menu-hover;
}

footer {
    background-color: $light-gray;
    padding: 1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    column-count: 3;
}
footer > div {
    display: inline-block;
}
footer div {
    padding: 0 5px;
    margin: 0 auto;
    width: auto;
}
.contact-info div {
    padding: 0;
    text-align: center;
}
.contact-info a {
    display: inline-block;
    padding: .25em 7px;
}
.social-media-icons img {
    width: 29px;
    height: 29px;
}

.wrapper {
    max-width: 55em;
    background-color: #FFFFFF;
}

.content {
    padding: 2em 2em;
}

@media (min-width: $media-query-min-width) {
    .wrapper {
    margin: 0 auto;
    }
  
    .content {
        padding: 2em 3em;
    }
}

.youtube {
    position: relative;
    height: 0;
    overflow: hidden;
}
.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube-4x3 {
    padding-bottom: 75%;
}
.youtube-16x9 {
    padding-bottom: 56.25%;
}

.teaser-video {
    margin: 0 auto;
    width: 70%;
}

.header-image img {
    width: 100%;
}

.show-dates {
    padding-top: 1em;
    padding-bottom: 0;
}


.performance-clip {
    margin: 0 auto;
    padding-top: 2em;
}
.image-gallery {
    padding-top: 2em;
    column-gap: 0;
    column-count: 2;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.image-gallery > a {
    width: 100%;
    height: auto;
}
.image-gallery > a img {
    width: 100%;
    height: auto;
    display: block;
}
.caption-header {
    font-weight: bold;
}
@media (min-width: $media-query-min-width) {
    .image-gallery {
        column-count: 3;
    }
}

.venue h3 {
    font-weight: normal;
    font-size: 1.17rem;
    padding: .25em 0 0 0;
}

.tickets {
    padding-top: 1.5em;
}

.cast-list {
    padding-left: 2em;
    padding-top: .4em;
    font-size: 1.17rem;
}
.cast-list li {
    list-style: none;
    color: $gray;
    padding-top: 0;
    font-size: 1.17rem;
}
.cast-list h3 {
    display: inline;
    color: $text-black;
    padding-right: .25em;
    font-size: 1.17rem;
}
.company-list {
    display: inline;
}
.company-list li {
    display: inline;
    color: $gray;
    font-size: 1.17rem;
}
.company-list li:not(:last-child):after {
    content: ', ';
}

.two-columns {
    padding-top: 2em;
}
.two-columns ul {    
    padding-top: 1em;
}
.two-columns h1 {
    font-size: 1.5em;
    font-weight: bold;
}
.two-columns li {
    list-style: none;
    padding-top: 0;
    margin-bottom: 1.5em;
}
.two-columns h2{
    font-size: 1.17em;
    font-weight: bold;
}
.two-columns h3{
    padding-top: .15em;
    font-size: 1em;
    color: $gray;
}
.two-columns p{
    padding-top: .3em;
}

@media (min-width: $media-query-min-width) {
    .two-columns ul {
        column-count: 2;
    }
    .two-columns li {
        overflow: hidden; /* Fix for firefox and IE 10-11  */
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        break-inside: avoid-column;
    }
}

.upcoming-performance h1, .upcoming-performance h2 {
    display: inline;
    padding-right: .5em;
}

.bio-title {    
    padding-top: 2em;
    padding-bottom: .5em;
}
.bio-title  h1, .bio-title h2 {
    display: inline;
    padding-right: .5em;
    padding-bottom: 0;
}
.bio-image img {
    display:block;
    margin: 0 auto;
    max-width: 60%;
    max-height: 20em;
}