---
layout: default
title: Jerboa Dance - About
---
<div>
    <h1>The Company</h1>
    <div class="description">
        <p>Jerboa Dance is a Seattle-based 501(c)(3) non-profit performance dance company formed in 2003 by Christina Johnson, Anna Percival, and Jaime Waliczek. The company premiered its first works in June of that year and has since gone on to produce 5 successful full-length shows, two cabarets, and numerous guest performances.</p>
        <p>Christina’s and Jaime’s unique backgrounds and styles of dance provided Seattle audiences with an eclectic mix of choreography and dancing until Christina’s departure for New York in 2005.  Jaime joined Christina in New York for the 2007 season before returning to Seattle to choreograph for several more years.  Jerboa Dance had been on hiatus from 2012-2015, and is excited to be preparing the 2017 season after a successful return in 2016.</p>
        <p>Jerboa Dance strives to offer other local choreographers and dancers opportunities to show their works. Most of all, the company hopes to use their knowledge and passion for dance to educate and entertain the community.</p>
    </div>
    <div class="two-columns">
        <ul>
        {% assign active_company = site.company | where: 'status', 'active' | sort: "role" %}
        {% for person in active_company %}
            {% include biopreview.html %}
        {% endfor %}
            <li><h2><a href="PreviousCompanyMembers.html">Previous Company Members</a></h2></li>
        </ul>
    </div>
</div>
