---
layout: default
title: Jerboa Dance - modern. athletic. powerful
permalink: /index.html
---

{% assign upcoming-performance = site.performances | where:"id", site.data.performances.upcoming | first %}
{% if upcoming-performance %}        
<div class="upcoming-performance">
    <a href="{{upcoming-performance.url}}">
        <h1>{{ upcoming-performance.name }}</h1> 
        <h2>{{ upcoming-performance.upcoming-show.dates }}</h2>
    </a>
    
    {% include venue.html show=upcoming-performance.upcoming-show %}

    {% include buytickets.html show=upcoming-performance.upcoming-show%}

    <div class="description">{{ upcoming-performance.content }}</div>

    <ul class="show-times">
    {% for showtime in upcoming-performance.upcoming-show.times %}
        <li>{{ showtime }}</li>
    {% endfor %}
    </ul>

    {% include castlist.html show=upcoming-performance.upcoming-show%}
</div>
{% endif %}
<div class="festival-description">
    <h1><a href="https://newyearliftoff.brownpapertickets.com/">New Year Lift Off</a></h3>
    <ul class="show-times"><li>January 19th, 2019 at 7:30pm</li></ul>
    <p>
        Jerboa Dance will be performing in the New Year Lift Off, an evening of dance and delights to benefit the new nonprofit, Pitch+Roll Productions, dedicated to bringing more opportunities for choreographers and dancers to the Seattle community. Tickets are available from <a href="https://newyearliftoff.brownpapertickets.com/">Brown Paper Tickets</a>.
    </p>
</div>
<div class="teaser-video">{% include youtube.html videoid="4CucKooBXLM" aspect-ratio="16x9" %}</div>