---
layout: default
title: Jerboa Dance - Performances
---
<div>
    {% assign upcomingperformance = site.performances | where: "upcoming", "true" | first %}
    {% assign priorperformances = site.performances | where: "upcoming", "false" %}
    
    <div class="upcoming-performance">
        <a href="{{upcomingperformance.url}}">
            <h1>{{upcomingperformance.name}}</h1> 
            <h2>{{ upcomingperformance.shows[0].dates }}</h2>
        </a>
        <p>{{ upcomingperformance.content }}</p>
        {% include buytickets.html %}
    </div>
    
    <div class="prior-performances">
        <h2>Prior Performances</h2>
        <ul>
        {% for performance in priorperformances %}
            <li>
                <h3><a href={{performance.url}}>{{ performance.name }}</a></h3>
                <p>{{ performance.content | truncate: 200 }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
