{% if include.show.bpt-id %}
<div class="tickets">
    <link rel="stylesheet" type="text/css" href="https://www.brownpapertickets.com/widget_v651.css" /> 
    <DIV ID="bpt_eventbody">
        <CENTER>
            <BR><BR>
            Brown Paper Tickets Ticket Widget Loading...
            <BR><BR>
            <A HREF="https://www.brownpapertickets.com/event/{{include.show.bpt-id}}">Click Here</A> to visit the Brown Paper Tickets event page.
        </CENTER>
        <BR><BR>
    </DIV>
    <script src="https://www.brownpapertickets.com/eventwidget.js?event={{include.show.bpt-id}}&nodescription=1&notitle=1" type="text/javascript" language="javascript"></script>
    <script src="https://www.brownpapertickets.com/widget_v651.js?event={{include.show.bpt-id}}" type="text/javascript" language="javascript"></script>
</div>
{% endif %}