<ul class="cast-list">
    {% for highlight in include.show.highlights %}
        <li><h3>{{highlight.role}}</h3> {% include person-element.html person=highlight %}</li>
    {% endfor %}
    <li>
        <h3>Company</h3>
        <ul class="company-list">
            {% assign sorted-company= include.show.company | sort %}
            {% for person-id in sorted-company %}
                {% capture personpath %}/company/{{person-id}}{% endcapture %}
                {% assign person = site.company | where: "id", personpath | first %}
                <li>{% include person-element.html person=person id=person-id %}</li>
            {% endfor %}
        </ul>
    </li>
</ul>

