<footer>
    <ul>
        <li>{% include mailchimpsignup.html %}</li>
        <li>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=7G65H8ZWEKR74" target="_blank" rel="nofollow"><img class=" aligncenter" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate" /></a>
        </li>
        <li>
            <div>
                <a href="mailto:info@jerboadance.com">info@jerboadance.com</a>
                <a href="https://www.facebook.com/JerboaDance/" target="_blank">https://www.facebook.com/JerboaDance</a>
                <br/>
                <a href="tel:+12135372627">213-537-2627</a>
            </div>
        </li>
    </ul>
</footer>