<footer>
    <div>{% include mailchimpsignup.html %}</div>
    <div>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=7G65H8ZWEKR74" target="_blank" rel="nofollow"><img class=" aligncenter" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate" /></a>
    </div>
    <div class="contact-info">
        <div><a href="mailto:info@jerboadance.com">info@jerboadance.com</a></div>
        <div><a href="tel:+12135372627">213-537-2627</a></div>
        <div class="social-media-icons">
            <a href="https://www.facebook.com/JerboaDance/" target="_blank">
                <img src="/assets/footer/facebook.png" alt="Visit Jerboa Dance on Facebook"/>
            </a>
            <a href="https://twitter.com/jerboadance" target="_blank">
                <img src="/assets/footer/twitter.png" alt="Visit Jerboa Dance on Twitter"/>
            </a>
            <a href="https://www.instagram.com/jerboadance/" target="_blank">
                <img src="/assets/footer/instagram.png" alt="Visit Jerboa Dance on Instagram"/>
            </a>
        </div>
    </div>
</footer>