<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    class PhotoGallery extends HTMLElement {
        connectedCallback() {
            let shadowRoot = this.attachShadow({mode:'open'});

            // TODO figure out how to get the host styles for links, lists of things, and fonts
            shadowRoot.innerHTML = `
            <style>
                p, div, a, h3, li, ul{
                    color: #999;
                    margin: 0;
                    padding: 0;
                    display: inline;
                    list-style: none;
                }
                div {
                    display: block;
                }

                a {
                    text-decoration: none;
                }
                a:hover {
                    color: #a553ba;
                }

                .overlay {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    overflow-x: hidden; /* Disable horizontal scroll */
                    background-color: rgb(0,0,0); /* Black fallback color */
                    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
                    padding-top: 7em;
                }

                .photograph {
                    display:block;
                    max-width: 80%;
                    max-height: 80%;
                    margin: auto;
                }

                .featured, .attribution{
                    padding: 2em;
                    text-align: center;
                    margin: auto;
                    width: 80%;
                    max-width: 55em;
                }
                .featured li:not(:last-child):after {
                    content: ', ';
                }
                
                .close-button {
                    position: absolute;
                    top: 20px;
                    right: 45px;
                    font-size: 60px;
                }
            </style>
            <div class="overlay">
                <a href="javascript:void(0)" class="close-button">&times;</a>
                <img class="photograph" />
                <div class="featured"></div>
                <div class="attribution"></div>
            </div>
            <slot></slot>
            `;

            this._overlayElement = shadowRoot.querySelector(".overlay");
            this._attributionElement = this._overlayElement.querySelector(".attribution");
            shadowRoot.querySelector("slot").addEventListener("click", this.onItemClick.bind(this));

            this._overlayElement.querySelector(".close-button").addEventListener("click", this.onOverlayCloseClick.bind(this));
        }
            
        showOverlay (galleryItemElement) {
            
            let overlayPhotgraphElement = this._overlayElement.querySelector(".photograph");
            overlayPhotgraphElement.setAttribute("src", galleryItemElement.getAttribute("href"));

            let itemImgElement = galleryItemElement.querySelector("img");
            overlayPhotgraphElement.setAttribute("alt", itemImgElement.getAttribute("alt"));

            let overlayFeaturedElement = this._overlayElement.querySelector(".featured");
            let itemFeaturedElement = galleryItemElement.parentElement.querySelector(".featured");
            if (itemFeaturedElement) {
                $(overlayFeaturedElement).replaceWith($(itemFeaturedElement).clone(true, true));
            }
            else {
                $(overlayFeaturedElement).empty();
            }

            let overlayAttributionElement = this._overlayElement.querySelector(".attribution");
            let itemAttributionElement = galleryItemElement.parentElement.querySelector(".attribution");
            if (itemAttributionElement) {
                $(overlayAttributionElement).replaceWith($(itemAttributionElement).clone(true, true));
            }
            else {
                $(overlayAttributionElement).empty();
            }

            this._overlayElement.style.display = "block";
        }

        hideOverlay() {
            this._overlayElement.style.display = "none";
        }

        // TODO disable scrolling
        
        onOverlayCloseClick (e) {
            e.preventDefault();
            this.hideOverlay();
            //history.back();
            return false;
        }
        
        onItemClick (e) {
            e.preventDefault();

            let galleryItemElement = e.target.parentElement;
            this.showOverlay(galleryItemElement);
            
            /*
            let url = location.href + "#" + galleryItemElement.id;
            if (location.hash) {
                url = url.replace(location.hash, "");
            }
            history.pushState(null, null, url);
*/
            return false;              
        }
    }

    customElements.define('photo-gallery', PhotoGallery);
</script>
