<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <div class="default-wrapper">
                <header class="default-header">
                    <h1 class="default-title">JERBOA DANCE</h1>
                    <h2>MODERN. ATHLETIC. POWERFUL.</h2>
                </header><!-- /.default-header -->

                <nav class="default-nav">
                    {% include menu.html %}
                </nav><!-- /.default-nav -->
                
                <div class="default-container">
                    {{ content }}
                </div><!-- /.container -->
                
                <footer class="default-footer">
                    <ul>
                        <li>{% include mailchimpsignup.html %}</li>
                        <li>
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=7G65H8ZWEKR74" target="_blank" rel="nofollow"><img class=" aligncenter" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt="" /></a>
                        </li>
                        <li>
                            <div>
                                <a href="mailto:info@jerboadance.com">info@jerboadance.com</a>
                                <a href="https://www.facebook.com/JerboaDance/" target="_blank">https://www.facebook.com/JerboaDance</a>
                                <br/>
                                <a href="tel:+12135372627">213-537-2627</a>
                            </div>
                        </li>
                    </ul>
                </footer><!-- ./default-footer -->
            </div><!-- ./default-wrapper -->
        </body>
    </html>
