<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css" />
        </head>
        <body>
            <div class="default-wrapper">
                {% include header.html %}
                {% include nav.html %}
                
                <div class="default-container">
                    {{ content }}
                </div><!-- /.container -->
                
                {% include footer.html %}

            </div><!-- ./default-wrapper -->
        </body>
    </html>
