<!DOCTYPE html>
<html>
    {% capture title %}Jerboa Dance - {{page.name}}{% endcapture %}
    {% include head-tag.html title=title %}
    <body>
        <div class="wrapper">
            {% include header.html %}
            {% include nav.html %}

            {% capture gallerypath %}/assets{{page.id}}{% endcapture %}            
            <div class="header-image"><img src="{{ gallerypath }}/header.jpg" alt="Photograph of {{ page.name }} performance"/></div>
        
            <div class="content">
                <h1>{{ page.name }}</h1>

                {% if page.upcoming-show %}
                    <h2 class="show-dates">{{page.upcoming-show.dates}}</h2>
                    {% include venue.html show=page.upcoming-show %}
                    <div class="description">{{ content }}</div>
                    {% include castlist.html show=page.upcoming-show%}
                    {% include buytickets.html show=upcoming-performance.upcoming-show%}
                {% else %}
                    <div class="description">{{ content }}</div>
                {% endif %}
                
                <div class="prior-show-dates">
                    {% if page.prior-shows.size > 0 and page.upcoming-show %}
                        <h2>Prior Shows</h2>
                    {% endif %}
                    
                    {% for show in page.prior-shows %}
                        <h2 class="show-dates">{{show.dates}}</h2>
                        {% include venue.html show=show %}
                        {% include castlist.html show=show %}
                    {% endfor %}
                </div>

                {% include galleryoverlay.html %}
                <photo-gallery>
                    {% for photograph in page.photographs %}{% unless photograph[0] == "header" %}
                        {% capture src %}{{ gallerypath }}/{{photograph[0]}}.jpg{% endcapture %}
                        <a href="{{src}}" class="gallery-item">
                            <img src="{{src}}" alt="Photograph of {{ page.name }} performance"/>
                        </a>
                    {% endunless %}{% endfor %}
                </photo-gallery>
            </div><!-- /.content -->
            
            {% include footer.html %}

        </div><!-- ./wrapper -->
    </body>
</html>